h1 {
    color: royalblue;
    font-size: 20px;
}

.my_color {
    color:yellow
}

h1 {
    color:yellow;
    font-size: 20px;
}

    .my_color{
        color:blue
    }

    
h1 {
        color: royalblue;
        font-size: 20px;
    }
    
    .my_color {
        color:yellow
    }

